/* custom css */
.ml-auto, .mx-auto{
    margin-left: auto!important;
}

.col-md-4{
	margin:40px auto;
}

.custom-ul ul li{
    list-style: none;
    position: relative;
    left: -30px;
}

.custom-package{
    position: relative;
    top: -75px;
    border-radius: 20px;
}

.custom-ul li{
    list-style: none;
    padding-bottom: 10px;
}


@media only screen and (max-width: 1000px) {
    .custom-best{
        margin: 100px 0 0 0;
    }
}
