.ml-auto, .mx-auto{
    margin-left: auto!important;
}

.custom-ul ul li{
    list-style: none;
    position: relative;
    left: -30px;
}

.custom-package{
    position: relative;
    top: -75px;
    border-radius: 20px;
}

.col-md-4{
	margin:40px auto;
}


footer {
    text-align: center;
    color: #fff;
    background: #0a0826;
    padding: 50px 0;
}

.f-span {
    color: #E02C6D;
}

footer .f-icons {
    text-align: center;
}

footer .f-icons ul {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-top: 20px;
}

footer .f-icons ul li {
    font-size: 25px;
    width: 50px;
    height: 50px;
    background: #22213c;
    line-height: 50px;
    border-radius: 50%;
}